<footer class="footer">
    <span>
        &copy; {{ .Site.Lastmod.Format "2006" }} 
        <a href="{{ "" | absURL }}">{{ .Site.Title }}</a>
    </span>
    
    <nav class="footer-nav">
        {{ range .Site.Menus.footer }}
        <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{ end }}
    </nav>
</footer>

{{- if (not .Site.Params.disableScrollToTop) -}}
<a href="#top" aria-label="go to top" title="Go to Top (Alt + G)" class="top-link" id="top-link" accesskey="g">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 6" fill="currentColor">
        <path d="M12 6H0l6-6z" />
    </svg>
</a>
{{- end -}}
